<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string></string>
	<key>level</key>
	<integer>0</integer>
	<key>time</key>
	<string></string>
	<key>repeat</key>
	<integer>0</integer>
	<key>score</key>
	<integer>0</integer>
	<key>lastlogin</key>
	<date>2017-08-23T05:18:52Z</date>
	<key>password</key>
	<string></string>
	<key>emailadress</key>
	<string></string>
	<key>rank</key>
	<integer>0</integer>
</dict>
</plist>
